<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="teacher" class="com.syed.multiconfig.bean.Teacher">   
        <!-- collaborators and configuration for this bean go here -->
        <constructor-arg name="name" value="John Smith" />
        <constructor-arg name="school" ref="school" />
    </bean>
    
    <import resource="school.xml"/>
    
    <import resource="district.xml"/>

</beans>
